<nav class="navbar navbar-dark bg-dark">
  <h3 class="text-white">Littly</h3>
  <span class="text-white">Version: <%= version %></span>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold" href="/litly-doc"><%= appName %></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/litly-doc/cloud-functions"
          >Cloud Functions</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/litly-doc/cloud-jobs">Cloud Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/litly-doc/class-hooks">Class Hooks</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a href="#" target="_blank" class="text-info font-weight-bold"
        >Litly Documentation</a
      >
    </span>
  </div>
</nav>
