<meta charset="UTF-8" />
<title><%= appName %> - Litly Parse Platform Documentation</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
<style>
  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
  }
</style>
